---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="font-elza flex flex-col h-screen justify-center m-auto">
    <div class="m-auto flex flex-col">
      <h1 class="font-titel text-center mb-5 font-bold text-2xl">Siden er under konstruktion</h1>
      <img class="w-96" src="/mig4.webp" alt="Nanna Anker Høeg" />
      <div class="m-auto mt-5 flex flex-col items-center">
        <p class="font-elza">Mit CV kan i mellemtiden ses som pdf</p>
        <div class="hover:scale-105">
          <a class="text-rod font-elza font-medium hover:underline" href="/cv2025.pdf" target="_blank">CV PDF</a>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
