---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="font-elza flex flex-col h-screen justify-center m-auto">
    <h1 class="font-titel font-bold text-2xl m-auto">Under konstruktion</h1>
    <img class="w-96 m-auto" src="mig4.webp" alt="Nanna Anker Høeg" />
  </div>
</MainLayout>
