---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Nanna Anker - Kontakt" description="Kontakt Nanna Anker Høeg.">
  <div class="flex justify-center items-center w-full mb-20">
    <div class="relative group flex flex-col items-center max-w-[700px] max-h-[700px] m-auto mt-20 sm:mb-20">
      <!-- Billedet -->
      <img class="w-auto max-w-full m-auto max-h-full p-4" src="/Subtract.webp" alt="abstrakt baggrundsbilled" loading="lazy" />

      <!-- Kontakt-tekst -->
      <div class="absolute inset-0 flex flex-col items-center justify-center mr-5 sm:mr-10 mt-10">
        <div>
          <h1 class="text-3xl mb-2 md:text-[50px] md:mb-5 font-titel text-center font-bold">Kontakt</h1>
          <div class="text-rod font-elza font-medium text-sm leading-6 md:leading-7 md:text-base text-center">
            <a class="hover:underline hover:scale-105" href="tel:71202231">+45 71 20 22 31</a>
            <br />
            <a class="hover:underline hover:scale-105" href="mailto:nannahoeg@hotmail.com">nannahoeg@hotmail.com</a>
            <br />
            <div class="flex flex-row justify-center gap-1 mt-2">
              <a class="" href="https://www.linkedin.com/in/nanna-anker-h%C3%B8eg-a406432b7/">
                <img class="w-7 md:w-9 hover:scale-105" src="/linkedin-svgrepo-com.svg" alt="LinkedIn" />
              </a>
              <a class="" href="https://www.instagram.com/nanna.anker/">
                <img class="w-7 md:w-9 hover:scale-105" src="/instagram-svgrepo-com.svg" alt="Instagram" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
