---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="nannaanker">
  <section class="bg-[url('/Subtract.webp')] mobilsmall:bg-[url('/rammeprov.webp')] mobilsmall:p-16 bg-cover mobilsmall:bg-contain mobilsmall:bg-no-repeat mobilsmall:bg-center md:w-700 md:h-560 m-auto mb-5 md:my-32 flex">
    <div class="m-auto">
      <p class="text-lg md:text-2xl xl:text-[50px] mb-5 font-titel">Kontakt</p>
      <div class="text-rod font-elza font-medium mobilsmall:text-sm mobilsmall:leading-5 md:leading-7 md:text-base">
        <a class="hover:underline hover:scale-105" href="tel:71202231">+45 71 20 22 31</a>
        <br />
        <a class="hover:underline hover:scale-105" href="mailto:nannahoeg@hotmail.com">nannahoeg@hotmail.com</a>
        <br />
        <div class="flex flex-row gap-1">
          <a class="" href="https://www.linkedin.com/in/nanna-anker-h%C3%B8eg-a406432b7/"><img class="w-9 hover:scale-105" src="public/linkedin-svgrepo-com.svg" alt="" /></a>
          <a class="" href="https://www.linkedin.com/in/nanna-anker-h%C3%B8eg-a406432b7/"><img class="w-9 hover:scale-105" src="public/instagram-svgrepo-com.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
