---
import { data } from "../data.js";
import MainLayout from "../layouts/MainLayout.astro";
import Filter from "../components/Filter.svelte";
---

<MainLayout title="Nanna Anker - Portfolio" description="Oplev Nanna Anker Høegs kreative arbejde som multimediedesigner">
  <h1 class="flex flex-row justify-center text-[40px] md:text-[50px] font-titel font-bold mt-32 md:mt-52 mb-2 md:mb-4">Mine Projekter</h1>
  <Filter client:load data={data} />
</MainLayout>
