---
const isKontaktPage = Astro.url.pathname === "/kontakt";
---

{
  isKontaktPage ? (
    <div class="w-full bg-white text-center py-5">
      <p class="text-xs md:text-sm font-light text-black font-elza mt-2 md:mt-0">© 2025 Nanna Anker Høeg</p>
    </div>
  ) : (
    <div class="w-full bg-white flex flex-col md:flex-row px-5 lg:px-20 py-5">
      <div class="flex-1 mx-auto md:mx-0">
        <p class="text-center md:text-left mb-1 text-xl font-elza font-medium">Kontakt</p>
        <div class="text-rod font-elza font-medium text-sm leading-6 md:leading-6 text-center md:text-left">
          <a class="hover:underline hover:scale-105 transform" href="tel:71202231">
            +45 71 20 22 31
          </a>
          <br />
          <a class="hover:underline hover:scale-105 transform" href="mailto:nannahoeg@hotmail.com">
            nannahoeg@hotmail.com
          </a>
        </div>
      </div>

      <div class="flex flex-col gap-3 items-center justify-end flex-1 mt-1 md:mt-0">
        <div class="flex flex-row gap-1">
          <a class="" href="https://www.linkedin.com/in/nanna-anker-h%C3%B8eg-a406432b7/">
            <img class="w-6 md:w-7 hover:scale-105" src="/linkedin-svgrepo-com.svg" alt="LinkedIn" />
          </a>
          <a class="" href="https://www.instagram.com/nanna.anker/">
            <img class="w-6 md:w-7 hover:scale-105" src="/instagram-svgrepo-com.svg" alt="Instagram" />
          </a>
        </div>

        <p class="text-xs md:text-sm font-light text-black font-elza mt-2 md:mt-0">© 2025 Nanna Anker Høeg</p>
      </div>

      <div class="flex-1 hidden md:block" />
    </div>
  )
}
