---

---

<div x-data="{ scroll: false }" @scroll.window="scroll = (window.pageYOffset > 120) ? true : false" :class="{ 'bg-white': scroll, 'bg-transparent': !scroll }" class="flex flex-row px-5 py-5 xl:px-20 sticky top-0 b z-50">
  <!-- Logo eller Titel -->
  <div class="flex flex-row items-center">
    <a href="/">
      <img class="h-10 hover:scale-105" src="/logo2.png" alt="Logo" />
    </a>
    <p class="font-light mt-2 font-elza text-xs md:text-sm ml-2">Nanna Anker Høeg</p>
  </div>

  <!-- Menu på Desktop (Vises som flex-row) -->
  <div class="hidden md:flex flex-row gap-5 ml-auto items-center text-rod text-sm font-elza font-medium mr-4">
    <a href="/" class="hover:underline hover:scale-105 focus:underline">OM MIG</a>
    <a href="/projekter" class="hover:underline hover:scale-105 focus:underline">MINE PROJEKTER</a>
    <a href="/kontakt" class="hover:underline hover:scale-105 focus:underline">KONTAKT</a>
  </div>

  <!-- Burger Menu (Kun synlig på mobil) -->
  <div class="flex md:hidden items-center ml-auto">
    <button id="burger-icon" class="text-gray-800 hover:text-red-500">
      <div class="bar w-8 h-0.5 bg-rod mb-1.5"></div>
      <div class="bar w-8 h-0.5 bg-rod mb-1.5"></div>
      <div class="bar w-8 h-0.5 bg-rod"></div>
    </button>
  </div>

  <!-- Mobil Menu (Skjult som standard) -->
  <div id="mobile-menu" class="fixed top-0 left-0 w-full h-full bg-white flex flex-col items-center justify-center z-50 hidden text-rod text-lg font-elza font-medium">
    <div class="absolute top-5 right-5 font-thin text-6xl text-rod cursor-pointer" id="close-btn">×</div>
    <a href="/" class="py-4 focus:underline">OM MIG</a>
    <a href="/projekter" class="py-4 focus:underline">MINE PROJEKTER</a>
    <a href="/kontakt" class="py-4 focus:underline">KONTAKT</a>
  </div>
</div>

<script>
  // Hent elementer
  const burgerIcon = document.getElementById("burger-icon");
  const mobileMenu = document.getElementById("mobile-menu");
  const closeBtn = document.getElementById("close-btn");
  const header = document.getElementById("header");

  // Toggle burger menu
  burgerIcon.addEventListener("click", () => {
    mobileMenu.classList.remove("hidden");
  });

  // Luk menuen når krydset (×) bliver trykket
  closeBtn.addEventListener("click", () => {
    mobileMenu.classList.add("hidden");
  });
</script>
